<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Meigee_BackgroundSlider" setup_version="1.0.0">
        <sequence>
            <module name="Meigee_Core"/>
            <module name="Meigee_Sirena"/>
        </sequence>
    </module>
</config>
