<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <theme_activator>
            <activation>
                <skin>default_skin</skin>
                <pages_override>0</pages_override>
                <blocks_override>0</blocks_override>
                <widget_instances_override>0</widget_instances_override>
            </activation>
        </theme_activator>
    </default>
</config>