<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Meigee_ProductWidget" setup_version="1.0.0">
		<sequence>
            <module name="Magento_CatalogWidget"/>
            <module name="Magento_Theme"/>
            <module name="Meigee_Core"/>
            <module name="Meigee_Sirena"/>
        </sequence>
    </module>
</config>